tmp
*#
*~
.sw*
.*.sw*
master.html
.DS_Store
*/.DS_Store
# Pycharm stuff
.idea
# VSCode stuff
.vscode
# virtual environments
venv
#ignores output from ./scripts/buildGuides.sh

#manually ignoring build dirs,
#feel free to make this better with a regex
build/
html/
.zanata-cache/
*.zip
emender/results/*
downstream/titles/*/master.html
downstream/titles/*/*/master.html
release-notes/master.html
*.docx
*.swp
